@{
    if (ViewBag.flagOption == 1)
    {
        <div class="panel-heading">
            @*<div class="col-md-6 text-right">
                <div class="form-group form-group-sm">
                    <input class="form-control small" placeholder="TEXTO A BUSCAR" id="txt-Valor" />
                </div>
            </div>*@
            <div class="col-md-12 text-right">
                <div class="btn-group btn-group-sm">
                    @*<button class="btn btn-info" id="btnBuscar"><i class="fa fa-search"></i> Buscar</button>*@
                    <button class="btn btn-success" id="btnNuevo"><i class="fa fa-plus"></i> Nuevo</button>
                </div>
            </div>
        </div>
    }
   
}

